[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.2"
psycopg2 = "==2.8.4"
pillow = "*"
django = "==3.0.2"
gunicorn = "==20.0.4"
django-storages = {extras = ["google"],version = "*"}
django-filter = "*"

[requires]
python_version = "3.7"
